<!doctype html>
<head>
    <title>AutoOD: A Self-Tuning Anomaly Detection System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/multiselect.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}"> 
</head>

<!-- DH -->
<body> 
    <ul id="ul_nav">
        {% for item in nav.top %}
        <li id = "nav" class="{{ 'active' if item.is_active else '' }}">
            <a id="li_a_nav" href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
<!-- DH -->

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example-getting-started').multiselect();
    });
</script>
<script>
    $(document).ready(function () {
        $('.clickable').click(function () {
            $(this).nextUntil('h3').slideToggle(1000);
        });
    });
    $("#SubmitButton").on("click", function (e) {
        e.preventDefault();
        return false;
    });
    $(document).ready(function () {
        var output = document.getElementById('output');
        var xhr = new XMLHttpRequest();
        xhr.open('GET', "{{ url_for('running_logs') }}", true);
        xhr.send();
        setInterval(function () {
            output.textContent = xhr.responseText;
        }, 500);
    });

    function uploadFile(target) {
        document.getElementById("file-name").innerHTML = document
            .getElementById("file").files[0].name;
    }

    $(document).ready(function () {
        $('#multiple-checkboxes').multiselect({
            includeSelectAllOption: true,
        });
    });
</script>
<body>
<div class="header" style="text-align:center">
    <h1>AutoOD: A Self-Tuning Anomaly Detection System</h1>
</div>
<center>
    <h3>Enter Input File and Parameters</h3>
    <form action="/autood/index" method="post" enctype=multipart/form-data>
        <table>
            <tr>
                <td>Input File</td>
                <td>
                    <div class="inputfile-box">
                        <input type="file" id="file" name="file" class="inputfile" onchange='uploadFile()'>
                        <label for="file" value="{{file}}">
                            <span id="file-name" value="{{file}}" class="file-box"></span>
                            <span class="file-button">
								<i class="fa fa-upload" aria-hidden="true"></i> Select File
						    </span>
                        </label>
                    </div>
                </td>
            </tr>
            
            <!-- THIS PART WAS USED TO CREATE THE CUSTOM DETECTOR FILE INPUT -->
            <!-- <tr>
                <td>Custom Detector File</td>
                <td>
                    <div class="inputfile-box">
                        <input type="file" id="file" name="file" class="inputfile" onchange='uploadFile()'>
                        <label for="file" value="{{file}}">
                            <span id="file-name" value="{{file}}" class="file-box"></span>
                            <span class="file-button">
								<i class="fa fa-upload" aria-hidden="true"></i> Select File
						    </span>
                        </label>
                    </div>
                </td>
            </tr> -->
            <tr>
                <td>Detection Methods</td>
                <td><select id="multiple-checkboxes" name="detectionMethods" multiple="multiple">
                    <option value="lof" selected>LOF</option>
                    <option value="knn" selected>KNN</option>
                    <option value="if" selected>Isolation Forest</option>
                    <option value="mahala" selected>Mahalanobis</option>
                </select></td>
            </tr>
            <tr>
                <td>Index Column Name</td>
                <td><input name="indexColName" value="id" type="text"/></td>
            </tr>
            <tr>
                <td>Label Column Name</td>
                <td><input name="labelColName" value="label" type="text"/></td>
            </tr>
            <tr>
                <td>Percentage of Outliers: Min (%)</td>
                <td><input name="outlierRangeMin" value="5" type="number"/></td>
            </tr>
            <tr>
                <td>Percentage of Outliers: Max (%)</td>
                <td><input name="outlierRangeMax" value="15" type="number"/></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div>
                        <input class="button" type="submit" value="Submit" id="SubmitButton" style="float: left;"/>
                        <div class="loader" id="loadingImg" style="float: left;"></div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <h4 style="color:#990000">{{ message }}</h4>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="row">
        <h3 align="center">Log Messages:</h3>
        <div class="logging_window">
            <pre id="output" align="left" width="50%"></pre>
        </div>
    </div>
</center>
</body>