<!DOCTYPE html>
<html lang="en">
    <body id=body_results> 
        <ul>
            {% for item in nav.top %}
            <li id = "nav" class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}">{{ item.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
    <head>
        <title>AutoOD Results</title>
        <!-- <h1 style="text-align:center">AutoOD Results</h1> -->
        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/d3_visualization.css') }}"> 
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script src="https://unpkg.com/d3-simple-slider"></script>
        <script src="{{ url_for('static', filename='css/d3_visualization.js') }}" defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    </head>

    <div id="dataviz_axisZoom"></div>

    <div id="reliable_labels">
        <div id="reliable_inout_div">
            <label for="reliable_inout">Reliable Label:</label>       
            <select id="reliable_inout"></select>
        </div>
        <p id="reliable_output"> </p>
        <div class="row align-items-center">
            <div class="col-sm-2"><p id="value-step"></p></div>
            <label for="slider-step">Reliable labels by iteration </label>
            <div class="col-sm"><div id="slider-step"></div></div>
        </div>
    </div>

    <div id="filter">
        <div id="filtertitle">Filtering:</div>

        <br>
        <div id="pred_but">
            <label for="metric">Metric:</label>        
            <select id="metric"></select>
        </div>
        <div id="label_but">
            <label for="selectButton_label">Label:</label>       
            <select id="selectButton_label"></select>
        </div>
        <div id="correct_but">
            <label for="selectButton_correct">Correct Prediction?:</label>       
            <select id="selectButton_correct"></select>
        </div>
    </div>

    <ul class="legend">
        <li><span class="inlier"></span id = "in">Inlier</li>
        <li><span class="outlier"></span id = "out">Outlier</li>
        <!-- <li><span class="incorrect"></span id = "incorr">Incorrect Prediction</li> -->
    </ul>
    
    <div class="vl"></div>
    
    <div id=popup_chart>
        <div id="barplot"></div>
        <div id="barplot2"></div>
    </div>
    
    <div id=temp>
        <div id = test_tabel></div>
        <div id=table_div>
            <table id="table" class="display" style="width:10%;"></table>
        </div>
        <div id=table2_div>
            <table id="table2" class="display" style="width:10%"></table>
        </div>
    </div>
        


</html>

